body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}

aside {
  width: 220px;
  background: #020617;
  padding: 20px;
  border-right: 1px solid #1e293b;
}

aside button {
  width: 100%;
  margin-bottom: 10px;
}

main {
  flex: 1;
  padding: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}